*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, ul, li{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration-line: none;
}

button {
    border: 0px;
    background-color: transparent;
}